*{
    margin: 0px;
    padding: 0px;
}

.navigation{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

/* logo css  */

.logo{
    width: 15%;
    height: 80px;
    font-size: 40px;
    font-family: 'Segoe UI';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}

/* navigation css  */
.nav{
    width: 35%;
    height: 80px;
}

.nav-links{
    display: flex;
}

.nav-link{
    list-style-type:none;
    height: 80px;
    width: 25%;
    text-align: center;
    line-height: 80px;
    font-family: 'segoe UI';
    cursor: pointer;
    color: orange;
}

.nav-link:hover{
    background-color: white;
    color: black;
}


/* banner css  */

.banner{
    height: 700px;
    width: 100%;
    background-color: blue;
    background-image: url('https://a-static.besthdwallpaper.com/captain-jack-sparrow-wallpaper-3554x1999-14244_53.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.banner-section{
    height: 200px;
    width: 40%;
    margin-left: 10%;
    font-size: 100px;
    font-weight: lighter;
    font-family: 'segoe UI';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    background-color: #d00b0b;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: #ea0f0f;
}

/* films css  */

.films{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.films-container{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title{
    font-size: 30px;
    font-family: 'segoe UI';
}

.film-card{
    width: 23%;
    height: 450px;
    background-color: #e8ce14;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.film-detail{
    height: 225px;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    transition: .4s;
    cursor: pointer;
}

.film-detail:hover{
    height: 450px;
}

.film-title{
    color: white;
    font-family: 'segoe UI';
    font-size: 40px;
}

.padd{
    padding: 20px;
}

.card-1{
    background-image: url('https://m.media-amazon.com/images/I/51GyBnj7wiL._AC_.jpg');
}

.card-2{
    background-image: url('https://m.media-amazon.com/images/I/71wHsY473PL._AC_SY679_.jpg');
}

.card-3{
    background-image: url('https://i.pinimg.com/originals/c9/44/f5/c944f5e3db39b3f6ae734a9702d849d3.jpg');
}

.card-4{
    background-image: url('https://d1uzk9o9cg136f.cloudfront.net/f/16783100/rc/2020/10/09/2c7698ab012cd0a2879acade09be64f1b07cc4b4_large.jpg');
}

.card-5{
    background-image: url('https://www.teahub.io/photos/full/267-2671990_mad-hatter-alice-in-wonderland-hd-desktop-wallpaper.jpg');
}

.card-6{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1Ixt5oEW8fMDWF_n056BWscjjx_S_gwLrXLFaYoBuq--PssUCYJGgy42YLa8R4JYcito&usqp=CAU');
}

.card-7{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6S7lMPjjGIWdB4du5tjHBtFQoe-sDAxegcmV026tzRyzpcMDne6hr7HLYBCaunDT7FvU&usqp=CAU');
}

.card-8{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDVnLtURlGSB1jn2Ndw5COtr3KVk2w4uwexv22Yb1A2drrlwhJvV7DlzUHn7jkDc8SVV4&usqp=CAU');
}